{
    "plugins": [
        "es",
        "prettier",
        "@typescript-eslint",
        "eslint-plugin-import",
        "eslint-plugin-node",
        "eslint-plugin-react"
    ],
    "rules": {
        "import/no-unresolved": "off",
        "prettier/prettier": [
            "error",
            {
                "printWidth": 80,
                "trailingComma": "es5",
                "tabWidth": 4,
                "singleQuote": true
            }
        ]
    }
}